body{
    font-family: 'Yusei Magic', sans-serif;
    background-color: gainsboro;
}
#brandName{
    margin-right: 300px;
    color: darkgoldenrod;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.menuImage{
    width: 250px;
    height: 150px;
    border:3px solid gray;
    border-radius: 5px;
}
.menuHeadings{
    font-size: 15pt;
}
/* .menuItems{
    border:3px solid gray;
    border-radius: 5px;

} */
#searchResultContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 50px;

}
#showDetailsMenu{
   margin-left: 450px;
   text-align: center;
   
}
@media screen and (max-width: 800px) {
    #searchResultContainer{
     grid-template-columns: repeat(1, 1fr);
    }
  }